<main>
  <div>
    <label for="model">Laptop Model: </label>
    <input type="text" id="model" [(ngModel)]="model" />
    <br />
    <label for="price">Price: </label>
    <input type="number" id="price" [(ngModel)]="price" />
    <br />
    <button (click)="add()">Add to laptop list</button>
  </div>
  <div>
    
    @if( laptopList.length === 0){

    }@else{
    <ol>
      @for( laptop of laptopList; track $index){
      <li [style.marginBottom]="'20px'">
        Laptop Model: {{ laptop.model }} <br />
        Price: {{ laptop.price }}
      </li>
      }
    </ol>
    }
  </div>
</main>
