<main>
  <div>
    <label for="name">Tool Name: </label>
    <input type="text" id="name" [(ngModel)]="name" />
    <br />
    <label for="price">Price: </label>
    <input type="number" id="price" [(ngModel)]="price" />
    <br />
    <button (click)="add()">Add to tools</button>
  </div>
  <div>
  
    @if( toolList.length === 0){
   
    }@else{
    <ol>
      @for( tool of toolList; track $index){
      <li [style.marginBottom]="'20px'">
        Tool Name: {{ tool.name }} <br />
        Price: {{ tool.price }}
      </li>
      }
    </ol>
    }
  </div>
</main>
