<main>
  <div>
    <label for="name">Framework Name: </label>
    <input type="text" id="name" [(ngModel)]="name" />
    <br />
    <label for="version">Version: </label>
    <input type="text" id="version" [(ngModel)]="version" />
    <br />
    <button (click)="add()">Add to framework list</button>
  </div>
  <div>
    
    @if( frameworkList.length === 0){
    
    }@else{
    <ol>
      @for( framework of frameworkList; track $index){
      <li [style.marginBottom]="'20px'">
        Framework Name: {{ framework.name }} <br />
        Version: {{ framework.version }}
      </li>
      }
    </ol>
    }
  </div>
</main>
