<main>
  <div>
    <label for="name">Grocery Item: </label>
    <input type="text" id="name" [(ngModel)]="name" />
    <br />
    <label for="price">Price: </label>
    <input type="number" id="price" [(ngModel)]="price" />
    <br />
    <button (click)="add()">Add to grocery list</button>
  </div>
  <div>
  
    @if( groceryList.length === 0){
   
    }@else{
    <ol>
      @for( grocery of groceryList; track $index){
      <li [style.marginBottom]="'20px'">
        Grocery Item: {{ grocery.name }} <br />
        Price: {{ grocery.price }}
      </li>
      }
    </ol>
    }
  </div>
</main>
