<main>
  <div>
    <label for="name">Lecture Name: </label>
    <input type="text" id="name" [(ngModel)]="name" />
    <br />
    <label for="course">Course: </label>
    <input type="text" id="course" [(ngModel)]="course" />
    <br />
    <button (click)="add()">Add to lectures</button>
  </div>
  <div>
  
    @if( lectureList.length === 0){
   
    }@else{
    <ol>
      @for( lecture of lectureList; track $index){
      <li [style.marginBottom]="'20px'">
        Lecture Name: {{ lecture.name }} <br />
        Course: {{ lecture.course }}
      </li>
      }
    </ol>
    }
  </div>
</main>
