<main>
  <div>
    <label for="name">Student Name: </label>
    <input type="text" id="name" [(ngModel)]="name" />
    <br />
    <label for="roomNumber">Room Number: </label>
    <input type="number" id="roomNumber" [(ngModel)]="roomNumber" />
    <br />
    <button (click)="add()">Add to student list</button>
  </div>
  <div>

    @if( studentList.length === 0){
   
    }@else{
    <ol>
      @for( student of studentList; track $index){
      <li [style.marginBottom]="'20px'">
        Student Name: {{ student.name }} <br />
        Room Number: {{ student.roomNumber }}
      </li>
      }
    </ol>
    }
  </div>
</main>
