<main>
  <div>
    <label for="title">Podcast Title: </label>
    <input type="text" id="title" [(ngModel)]="title" />
    <br />
    <label for="speaker">Speaker: </label>
    <input type="text" id="speaker" [(ngModel)]="speaker" />
    <br />
    <button (click)="add()">Add to podcast list</button>
  </div>
  <div>
   
    @if( podcastList.length === 0){
    
    }@else{
    <ol>
      @for( podcast of podcastList; track $index){
      <li [style.marginBottom]="'20px'">
        Podcast Title: {{ podcast.title }} <br />
        Speaker: {{ podcast.speaker }}
      </li>
      }
    </ol>
    }
  </div>
</main>
