<main>
  <div>
    <label for="name">App Name: </label>
    <input type="text" id="name" [(ngModel)]="name" />
    <br />
    <label for="platform">Platform: </label>
    <input type="text" id="platform" [(ngModel)]="platform" />
    <br />
    <button (click)="add()">Add to mobile apps</button>
  </div>
  <div>
 
    @if( appList.length === 0){

    }@else{
    <ol>
      @for( app of appList; track $index){
      <li [style.marginBottom]="'20px'">
        App Name: {{ app.name }} <br />
        Platform: {{ app.platform }}
      </li>
      }
    </ol>
    }
  </div>
</main>
