<main>
  <div>
    <label for="place">Place: </label>
    <input type="text" id="place" [(ngModel)]="place" />
    <br />
    <label for="country">Country: </label>
    <input type="text" id="country" [(ngModel)]="country" />
    <br />
    <button (click)="add()">Add to destinations</button>
  </div>
  <div>

    @if( destinationList.length === 0){
 
    }@else{
    <ol>
      @for( destination of destinationList; track $index){
      <li [style.marginBottom]="'20px'">
        Place: {{ destination.place }} <br />
        Country: {{ destination.country }}
      </li>
      }
    </ol>
    }
  </div>
</main>
