<main>
  <div>
    <label for="name">Tool Name: </label>
    <input type="text" id="name" [(ngModel)]="name" />
    <br />
    <button (click)="add()">Add to developer tools list</button>
  </div>
  <div>
    <h1>Developer Tools List</h1>
    @if( developerToolList.length === 0){
    <h2>-Developer tools list is empty-</h2>
    }@else{
    <ol>
      @for( tool of developerToolList; track $index){
      <li [style.marginBottom]="'20px'">Tool Name: {{ tool.name }}</li>
      }
    </ol>
    }
  </div>
</main>
