<main>
  <div>
    <label for="name">Name: </label>
    <input type="text" id="name" [(ngModel)]="name" />
    <br />
    <label for="time">Time: </label>
    <input type="string" id="time" [(ngModel)]="time" />
    <br />
    <button (click)="add()">Add to subjects</button>
  </div>
  <div>
   
    @if( subjectList.length === 0){
  
    }@else{
    <ol>
      @for( subject of subjectList; track $index){
      <li [style.marginBottom]="'20px'">
        Name: {{ subject.name }} <br />
        Time: {{ subject.time }}
      </li>

      }
    </ol>
    }
  </div>
</main>
