<main>
  <div>
    <label for="name">Exercise Name: </label>
    <input type="text" id="name" [(ngModel)]="name" />
    <br />
    <label for="repetitions">Repetitions: </label>
    <input type="number" id="repetitions" [(ngModel)]="repetitions" />
    <br />
    <button (click)="add()">Add to exercise list</button>
  </div>
  <div>

    @if( exerciseList.length === 0){

    }@else{
    <ol>
      @for( exercise of exerciseList; track $index){
      <li [style.marginBottom]="'20px'">
        Exercise Name: {{ exercise.name }} <br />
        Repetitions: {{ exercise.repetitions }}
      </li>
      }
    </ol>
    }
  </div>
</main>
