<main>
  <div>
    <label for="name">Food Name: </label>
    <input type="text" id="name" [(ngModel)]="name" />
    <br />
    <label for="price">Price: </label>
    <input type="number" id="price" [(ngModel)]="price" />
    <br />
    <button (click)="add()">Add to menu</button>
  </div>
  <div>
  
    @if( foodList.length === 0){
  
    }@else{
    <ol>
      @for( food of foodList; track $index){
      <li [style.marginBottom]="'20px'">
        Food Name: {{ food.name }} <br />
        Price: {{ food.price }}
      </li>
      }
    </ol>
    }
  </div>
</main>
