<main>
  <div>
    <label for="name">Name: </label>
    <input type="text" id="name" [(ngModel)]="name" />
    <br />
    <label for="price">Price: </label>
    <input type="number" id="price" [(ngModel)]="price" />
    <br />
    <button (click)="add()">Add to products</button>
  </div>
  <div>
  
    @if( productList.length === 0){
    }@else{
    <ol>
      @for( product of productList; track $index){
      <li [style.marginBottom]="'20px'">
        Name: {{ product.name }} <br />
        Price: {{ product.price }}
      </li>

      }
    </ol>
    }
  </div>
</main>
