<main>
  <div>
    <label for="title">Painting Title: </label>
    <input type="text" id="title" [(ngModel)]="title" />
    <br />
    <label for="year">Year: </label>
    <input type="number" id="year" [(ngModel)]="year" />
    <br />
    <button (click)="add()">Add to painting list</button>
  </div>
  <div>
   
    @if( paintingList.length === 0){
    
    }@else{
    <ol>
      @for( painting of paintingList; track $index){
      <li [style.marginBottom]="'20px'">
        Painting Title: {{ painting.title }} <br />
        Year: {{ painting.year }}
      </li>
      }
    </ol>
    }
  </div>
</main>
