<main>
  <div>
    <label for="title">Video Title: </label>
    <input type="text" id="title" [(ngModel)]="title" />
    <br />
    <label for="views">Views: </label>
    <input type="number" id="views" [(ngModel)]="views" />
    <br />
    <button (click)="add()">Add to video list</button>
  </div>
  <div>
   
    @if( videoList.length === 0){
    
    }@else{
    <ol>
      @for( video of videoList; track $index){
      <li [style.marginBottom]="'20px'">
        Video Title: {{ video.title }} <br />
        Views: {{ video.views }}
      </li>
      }
    </ol>
    }
  </div>
</main>
